
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
<br/>
<div class="container">
<div class="row">
    <div class="col-5">
    <div class="bg-light border mt-6">
        <p>Conver From <input type="number" name="temperatureValueFrom"  class="form-control" placeholder="" aria-label="from-type" value="0" [(ngModel)]="temperatureConversion.temperatureValueFrom"></p>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group" >
            <input type="radio" class="btn-check" name="temperatureTypeFrom" id="btnradio1" value="1" autocomplete="off"  [checked]="1" [(ngModel)]="temperatureConversion.temperatureTypeFrom"/>
            <label class="btn btn-outline-primary" for="btnradio1" >Celsius</label>
            <input type="radio" class="btn-check" name="temperatureTypeFrom" value="2" id="btnradio2" autocomplete="off"  [checked]="2" [(ngModel)]="temperatureConversion.temperatureTypeFrom"/>
            <label class="btn btn-outline-primary" for="btnradio2">Fahrenheit</label>
            <input type="radio" class="btn-check" name="temperatureTypeFrom" value="3" id="btnradio3" autocomplete="off"  [checked]="3" [(ngModel)]="temperatureConversion.temperatureTypeFrom"/>
            <label class="btn btn-outline-primary" for="btnradio3">Kelvin</label>
        </div>
    </div>
    </div>
   <div class="col d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Convert</button>
   </div>
 
    <div class="col-5">
        <div class="bg-light border">
        <p>Converted To <input type="text" name="temperatureValueTo" disabled   class="form-control" placeholder="" aria-label="to-type" value="0" [(ngModel)]="temperatureConversion.temperatureValueTo"></p>
        <div class="btn-group" name="toValue" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="temperatureTypeTo" value="1" id="btnradio-1" autocomplete="off" [(ngModel)]="temperatureConversion.temperatureTypeTo"/>
            <label class="btn btn-outline-primary" for="btnradio-1">Celsius</label>
        
            <input type="radio" class="btn-check" name="temperatureTypeTo" value="2" id="btnradio-2" autocomplete="off" [(ngModel)]="temperatureConversion.temperatureTypeTo"/>
            <label class="btn btn-outline-primary" for="btnradio-2">Fahrenheit</label>
        
            <input type="radio" class="btn-check" name="temperatureTypeTo" value="3" id="btnradio-3" autocomplete="off" [(ngModel)]="temperatureConversion.temperatureTypeTo"/>
            <label class="btn btn-outline-primary" for="btnradio-3">Kelvin</label>
        </div>
        </div>
    </div>
</div>
</div>
</form>

<!-- {{temperatureConversion| json}} -->
 
